@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



body {
 font-family: 'Cormorant Unicase', serif;
  color: #ffffff;
  background-color: #000000;
}


/* Общий контейнер для всего сайта */
.app-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

